normals/normals*
bnb/bnb*
*db
export.sql
census/census*
cyberchase/cyberchase*
*.zip
*utf8.sql
dese/dese*
.dump
dont-panic/dont-panic*
*.csv
packages/packages*
players/players*
private/private*
snap/snap*
studi